<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Material</title>

    <script src="/js/scripts.js"></script>
    <link type="text/css" href="/css/styles.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Messaging Stomp API / Topic -->
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.0/dist/sockjs.min.js"></script>


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/main}">ReSourceExchange</a>
    </div>
</nav>
<div class="container">
    <h1 class="mb-4" th:text="#{material.header}">Material erstellen</h1>

    <form action="#" th:action="@{/material/create}" th:object="${material}" method="post">
        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label for="name" class="form-label" th:text="#{name}"></label>
            <input type="text" th:field="*{name}" id="name" class="form-control" required />
        </div>

        <div class="mb-3">
            <label for="description" class="form-label" th:text="#{description}"></label>
            <textarea th:field="*{description}" id="description" class="form-control"></textarea>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary" th:text="#{save}"></button>
        </div>
    </form>
    <div class="text-center mt-3">
        <button class="btn btn-secondary" onclick="history.back()">Back</button>
    </div>
</div>
</body>
</html>