.center-page-div {
    margin-top: 30px;
    margin-left: 40%;
    margin-right: 40%;
}

.title {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.split-page-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.form-div {
    height: 60%;
    padding: 15px;
    margin: 20px 20px 0;
    border: 1px solid grey;
    border-radius: 10px;
}

.center-div {
    display: flex;
    justify-content: center;
}

.register-btn {
    margin-top: 20px;
}
.language {
    margin-top: 8px;
}

#offset-btn {
    margin-top: 50%;
}

.me-auto {
    margin-left: auto !important;
}


.main-page {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}

.side-bar {
    height: 800px;                      <!-- REMOVE -->
    padding: 10px;
    width: 20%;
    background-color: #f8f9fa;
    border: 1px solid grey;
    border-radius: 10px;
}

.listings {
    width: 80%;
    height: 800px;                      <!-- REMOVE -->
    border: 1px solid grey;
}

.main-page-content{
    padding: 10px;
}

#search-div {
    display: flex;
    align-items: flex-end;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.card {
    flex: 0 1 20%;
    max-width: 20%;
    height: 150px;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.delete-icon {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.delete-icon:hover svg {
    color: darkred;
}

.chat-icon {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.chat-icon:hover {
    color: darkgreen;
}

.buy-icon {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.buy-icon:hover {
    color: darkgreen;
}

.update-icon {
    color: inherit;
    text-decoration: none;
}

.update-icon:hover {
    color: darkgreen;
}