<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.create_listing}">Listing erstellen</title>
    <script src="/js/scripts.js"></script>
    <link type="text/css" href="/css/styles.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/main}">ReSourceExchange</a>
    </div>
</nav>
<div class="container">
    <h1 class="mb-4" th:text="#{title.create_listing}">Listing erstellen</h1>

    <form th:action="@{/listing/create}" th:object="${listing}" method="post">
        <div class="mb-3">
            <label for="material" class="form-label" th:text="#{form.material}">Material:</label>
            <select th:field="*{material.id}" id="material" class="form-control" required>
                <option th:each="material : ${materials}"
                        th:value="${material.getId()}"
                        th:text="${material.getName()}">Material Option</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="quantity" class="form-label" th:text="#{form.quantity}">Menge:</label>
            <input type="number" th:field="*{quantity}" id="quantity" class="form-control" required min="1" />
        </div>

        <div class="mb-3">
            <label for="price" class="form-label" th:text="#{form.price}">Preis:</label>
            <input type="number" th:field="*{price}" id="price" class="form-control" required step="0.01" min="0" />
        </div>

        <div class="mb-3">
            <label for="description" class="form-label" th:text="#{form.description}">Beschreibung:</label>
            <input type="text" th:field="*{description}" id="description" class="form-control" />
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary" th:text="#{button.save}">Save</button>
        </div>
    </form>
    <div class="text-center mt-3">
        <button class="btn btn-secondary" onclick="history.back()">Back</button>
    </div>
</div>
</body>
</html>
