<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fehler</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mt-5">
            <h1 class="display-4">Etwas ist schiefgelaufen</h1>
            <p class="lead">Die angeforderte Seite konnte nicht gefunden werden oder es ist ein Fehler aufgetreten.</p>
            <div class="text-center mt-3">
                <button class="btn btn-secondary" onclick="history.back()" th:text="#{button.back}">Zurück</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS und jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/Notifications.js"></script>
</body>
</html>
