<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>

    <script src="/js/scripts.js"></script>
    <link type="text/css" href="/css/styles.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Messaging Stomp API / Topic -->
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.0/dist/sockjs.min.js"></script>


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/main}">ReSourceExchange</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-right: 10px !important;">
                    <button id="toggleMapView" class="btn btn-outline-success me-2" type="button">Switch to map</button>
                    <li class="nav-item" sec:authorize="hasAuthority('MANAGE_MATERIALS')">
                        <a class="nav-link active" aria-current="page" th:href="@{/material/create}">Add Material</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAuthority('MANAGE_LISTINGS')">
                        <a class="nav-link active" aria-current="page" th:href="@{/listing/create}">Create Listing</a>
                    </li>
                    <li class="nav-item">
                        <span th:text="#{lang.change}"></span>:
                        <select id="locales" onchange="changeLanguage(this.value)">
                            <option value="en" th:text="#{lang.en}"></option>
                            <option value="de" th:text="#{lang.de}"></option>
                        </select>
                        <script>
                            // Prüfen, ob der `lang`-Parameter in der URL vorhanden ist
                            const urlParams = new URLSearchParams(window.location.search);
                            const lang = urlParams.get('lang');  // Der Parameter aus der URL

                            // Wenn ein Wert gefunden wird, setze ihn im select-Feld
                            if (lang) {
                                document.getElementById("locales").value = lang;
                            }

                            // Funktion, um die Sprache zu ändern
                            function changeLanguage(language) {
                                // Sprache in der URL ändern (z.B. ?lang=en)
                                window.location.href = window.location.pathname + "?lang=" + language;
                            }
                        </script>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/chat/active}">Active Chats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Profile</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                        <a class="nav-link" th:href="@{/admin/users}">Manage Users</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="main-page">
        <div class="side-bar">
            <div class="main-page-content">

                <p>Filter-Options</p>
                <p>Filter für Request/Listing</p>
                <p>Filter nach Material</p>
                <p>Filter nach Entfernung</p>
                <p>Filter nach Favoriten/Bookmarked</p>
                <div id="search-div">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="listings">
            <div class="main-page-content" id="listings" style="display: block;">
                <div class="cards-container">
                    <!-- Thymeleaf-Schleife für Listings -->
                    <div th:each="listing : ${listings}" class="card" style="width: 18rem; margin-bottom: 20px;">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted" th:text="${listing.material.name}">Material Type</h6>
                            <p class="card-text">
                                <span th:text="'Quantity: ' + ${listing.quantity}"></span><br>
                                <span th:text="'Price: $' + ${listing.price}"></span><br>
                            </p>
                            <a th:if="${#authentication.name == listing.createdBy.mail or #authentication.authorities.contains('ROLE_ADMIN')}"
                               th:href="@{/listing/update/{id}(id=${listing.id})}" class="card-link">Update</a>
                            <a th:if="${#authentication.name == listing.createdBy.mail or #authentication.authorities.contains('ROLE_ADMIN')}"
                               th:href="@{/listing/delete/{id}(id=${listing.id})}" class="card-link">Delete</a>

                            <a href="#" class="card-link">Buy</a>
                            <a th:if="${#authentication.principal.mail != listing.createdBy.mail}"
                               th:href="@{/chat/{listingId}/{creatorId}/{initiatorId}(
                                    listingId=${listing.id},
                                    creatorId=${listing.createdBy.id},
                                    initiatorId=${#authentication.principal.id})}">
                                Chat
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-page-content" id="map" style="display: none;">
                <p>I'm the map!</p>
            </div>
        </div>
    </div>

    <p>Logged-in user authorities: <span th:text="${#authentication.authorities}"></span></p>
    <div>
        <h3>Your Chats</h3>
        <ul>
            <li th:each="chat : ${activeChats}">
                <a th:href="@{/chat/{chatId}(chatId=${chat.id})}">Chat with [[${chat.user1.mail}]]</a>
            </li>
        </ul>
    </div>

    <script>
        // toggle for map view / listing
        document.getElementById("toggleMapView").addEventListener("click", function () {
            const section1 = document.getElementById("listings");
            const section2 = document.getElementById("map");

            if (section1.style.display === "block") {
                section1.style.display = "none";
                section2.style.display = "block";
            } else {
                section1.style.display = "block";
                section2.style.display = "none";
            }
        });
    </script>


</body>
</html>
