<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{profile.title} + ' - ' + ${profileUser.name}"></title>
    <link type="text/css" href="/css/styles.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container mt-5">
    <h2 class="mb-4"><span th:text="#{profile.of} + ' ' +${profileUser.name}"></span></h2>

    <!-- Reviews anderer Nutzer -->
    <div>
        <h3><span th:text="#{profile.review.for} + ' ' + ${profileUser.name}"></span></h3>
        <div th:each="review : ${profileUser.receivedReviews}">
            <div class="review-card">
                <div class="card-body">
                    <h5 class="card-title" th:text="#{profile.review.by} + ' ' + ${review.reviewer.name}"></h5>
                    <div class="rating">
                        <div th:if="${review.rating < 5}">
                        <span th:each="star : ${#numbers.sequence(1, review.rating)}">★</span>
                            <span th:each="emptyStar : ${#numbers.sequence(review.rating + 1, 5)}" class="text-muted">★</span>
                        </div>
                        <div th:if="${review.rating == 5}">
                            <span th:each="star : ${#numbers.sequence(1, review.rating)}">★</span>
                        </div>
                    </div>
                    <p class="card-text" th:text="${review.content}"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5" th:if="${isNewReview == false}">
        <h3 th:text="#{profile.review.yourReview}"></h3>
        <form th:action="@{/profile/review/edit}" th:method="post" class="mb-3">
            <input type="hidden" th:value="${existingReview.id}" name="reviewId"/>
            <div class="star-rating mb-3">
                <input id="star1" type="radio" name="rating" value="5" th:checked="${existingReview.rating == 5}">
                <label for="star1">★</label>
                <input id="star2" type="radio" name="rating" value="4" th:checked="${existingReview.rating == 4}">
                <label for="star2">★</label>
                <input id="star3" type="radio" name="rating" value="3" th:checked="${existingReview.rating == 3}">
                <label for="star3">★</label>
                <input id="star4" type="radio" name="rating" value="2" th:checked="${existingReview.rating == 2}">
                <label for="star4">★</label>
                <input id="star5" type="radio" name="rating" value="1" th:checked="${existingReview.rating == 1}">
                <label for="star5">★</label>
            </div>
            <textarea class="form-control mb-3" name="content" rows="3" th:text="${existingReview.content}"></textarea>
            <div>
                <button type="submit" class="btn btn-primary" th:text="#{save}"></button>
                <a th:href="@{/profile/review/delete/{id}(id=${existingReview.id})}" class="btn btn-danger" th:text="#{delete}"></a>
            </div>
        </form>
    </div>

    <div th:if="${isNewReview == true}">
        <h3 th:text="#{profile.review.add}"></h3>
        <form th:action="@{/profile/{userId}/review/create(userId=${profileUser.id})}" method="post">
            <div class="star-rating mb-3">
                <input id="newStar1" type="radio" name="rating" value="5">
                <label for="newStar1">★</label>
                <input id="newStar2" type="radio" name="rating" value="4">
                <label for="newStar2">★</label>
                <input id="newStar3" type="radio" name="rating" value="3">
                <label for="newStar3">★</label>
                <input id="newStar4" type="radio" name="rating" value="2">
                <label for="newStar4">★</label>
                <input id="newStar5" type="radio" name="rating" value="1">
                <label for="newStar5">★</label>
            </div>
            <textarea class="form-control mb-3" name="content" rows="3" th:placeholder="#{profile.review.placeholder}"></textarea>
            <button type="submit" class="btn btn-primary" th:text="#{save}"></button>
        </form>
    </div>
</div>
</body>
</html>
